<div class="mat-container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" id="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" id="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" id="email">
        </mat-form-field>
        <div class="passwords" [ngClass]="{'dont-check':passwordNotCheck}">
            <mat-chip *ngIf="passwordNotCheck" selected="true" color="accent">Passwords do not match</mat-chip>
            <mat-form-field>
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your password" formControlName="password" id="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Repeat your password" formControlName="passwordCheck" id="passwordCheck">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="accent">Sign in</button>

        <p>
            Already a member?
            <a mat-button color="primary" [routerLink]="['/signin']">Sign in</a>
        </p>
    </form>
</div>